
.navbar {
  background-color: #2E4057;
}


.card {
  border-radius: 0.7rem;
}

.fondofooter {
  background-color: #2E4057;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-collapse {
  color: white;
}

.nav-title {
  color: white !important;
}

@media (max-width: 768px) {
  .accordion {
    width: 90%; /* Ajusta el ancho en pantallas pequeñas */
  }
}

.nav-item:hover {
  background-color: #FF9933 ;
  border-radius: 10px !important;
}


.nav-item > a:hover {
  color: white;
}

.navbar-nav > .active > a {
  background-color: #FF9933;
}