.navbar {
  background-color: #0056b3;
}

.card {
  border-radius: 0.7rem;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-collapse {
  color: white;
}

.nav-title {
  color: white !important;
}

@media (max-width: 768px) {
  .accordion {
    width: 90%; /* Ajusta el ancho en pantallas pequeñas */
  }
}




